<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>ANDAMAN AND NICOBAR ISLANDS<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://static.toiimg.com/photo/68814397.cms" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Replete with turquoise blue water beaches and a bit of history, Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Port Blair, the capital of this union territory, has a major airport and seaport connected with the rest of the country and with various tourist islands via multiple daily ferries. Havelock and Neil Islands are popular among tourists for their white sandy beaches and excellent diving options. </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=1nsN8IrOyMVAuajfURXTxdT7kt5I&hl=en"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹12,000 4/N (per person) </p>
                                            <p> Average days required: 4 to 6 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://images.thrillophilia.com/image/upload/s--eIacFhOr--/c_fill,g_center,h_642,q_auto,w_1280/f_auto,fl_strip_profile/v1/images/photos/000/137/634/original/1542711724_shutterstock_577561456.jpg.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Port Blair</h3>
                                        <p>Nestled away from Mainland India, Port Blair is the capital city of the Andaman and Nicobar Islands. Port Blair is also South Andaman's headquarters and a significant Indian naval base. It is well known for its INS Jarawa of the Indian Navy, the first tri-command of the armed forces of India. The city is also home to the historical Cellular Jail and many quaint islands nearby, like Corbyn's Cove, Neil Island, Ross Island, Rutland Island, Viper Island, Jolly Buoy Island, and Barren Island (known for the only active volcano on the Indian Subcontinent).</p>
                                       
                                       
                                        <p>Ideal duration: 3-6 days</p>
                                        <p>Best Time: Oct-Apr</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://im.hunt.in/cg/Port-Blair/City-Guide/neil-island.png" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Neil Island<h3>
                                                <p> Neill Island is a part of the South Andaman Administrative District and belongs to Ritchie’s Archipelago in the Bay of Bengal. A part of the massive ocean separates it from Ross Island and Havelock Island, Tourists visiting Havelock often make a day-long trip to Neill Island. Perhaps the most endearing feature of this island is its three sandy beaches, namely Bharatpur Beach, Sitapur Beach and Lakshmanpur Beach. The forest cover has reduced considerably due to the cultivation of rice but a section in the north-west of the island is being preserved actively.</p>
                                                
                                                
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: October - February </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Havelock%2C_Andaman_%26_Nicobar_Islands.JPG" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Havelock Island<h3>
                                                        <p>Nicobar group of islands. Spread over a massive area of 113.93 square kilometres, Havelock Island is situated 57 km north-east of the capital city Port Blair. The island is named after a British General and comprises of Ritchie's Archipelago and a collection of five villages including Shyam Nagar, Vijay Nagar, Radha Nagar, Krishna Nagar and Govinda Nagar. It is one of the most developed islands when it comes to tourism, with a focus on eco - tourism.</p>
                                                        
                                                        
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: October - February </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                
</html>