<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color:rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>ANDHRA PRADESH<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://etimg.etb2bimg.com/photo/89314482.cms" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Blessed with two beautiful rivers, Krishna and Godavari, Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department. The state is most visited for its world famous Tirupati temple. Srisailam Mallikarjuneswar temple is another famous Shiva shrine and is one of the 12 Jyotirlinga temples in India. In spite of the recent division of the state of Andhra Pradesh, which resulted in the formation Seemandhra which is what was left of Andhra Pradesh after Telangana region was carved out, Seemandhra seems to have got the better share regarding tourism.  </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to April</p>
                                            <p> Average cost : ₹10,000 4/N (per person) </p>
                                            <p> Average days required: 4 to 8 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2023/01/31170158/andhra-pradesh-capital-1600x900.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Visakhapatnam<h3>
                                        <p>Visakhapatnam, also commonly known as Vizag, is one of the oldest port cities in the country. Situated in the heart of Andhra Pradesh, Vizag was announced as the state capital of Andhra Pradesh on January 31, 2023. The city is known for its picturesque beaches and serene landscape, as well as a rich cultural past. The port of Visakhapatnam is renowned for being home to the oldest shipyard in all of India. </p>
                                        <p>Must Visit: Borra Caves, Submarine Museum, Kailasagiri, Rushikonda Beach, Yarada Beach</p>
                                        <p>Ideal duration: 2-3 days</p>
                                        <p>Best Time: Sep-Mar </p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://www.weekendthrill.com/wp-content/uploads/2016/07/Amravathi-compressed.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Amaravathi<h3>
                                                <p>Known as the Capital of Andhra Pradesh, Amaravathi is a planned city on the banks of the River Krishna. Amaravathi is renowned for being a site of a Buddhist Stupa that is a semi-hemispherical structure containing Buddhist relics and often called the Abode of God. </p>
                                                <p>Must Visit: Amareswara Temple, Amravati Museum, Dhayana Bussha Statue, Amaravathi Mahachaitya</p>
                                                <p>Entry Fee : No entry fees</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: Nov-Mar</p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://images.thrillophilia.com/image/upload/s---3amQel4--/c_fill,g_auto,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/197/134/original/1584455040_shutterstock_710600893.jpg.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Araku Valley<h3>
                                                        <p>Araku Valley is a comparatively unexplored hill station mostly visited by locals as a weekend getaway and is situated some 120 kilometres away from Vishakhapatnam. If you're a tourist looking for exclusivity and tranquillity, Vistadome train leaves Vishakhapatnam at 6.50 AM, making way through 58 tunnels and passing over 84 bridges making way through the breathtaking landscape to reach Araku in approximately in 5 hours, go, catch that!</p>
                                                        <p>Must Visit: Borra Caves, Katiki Waterfalls, Matsyagundam, Bheemili Beach</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: September to February </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/11/Ananthgiri-hills-22_nov.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Ananthagiri Hills<h3>
                                                                <p>Set amid the Eastern Ghats, Ananthagiri Hills is a beautiful retreat 90km away from Hyderabad city. One of the earliest human habitat areas, Ananthagiri is a hill town of ancient caves, temples, medieval fort palaces that showcases the history of the area.</p>
                                                                <p> Must Visit: The Borra Hills and Caves, Araku Tribal Museum, Musi River, Padmapuram Garden, Dolphins Nose</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Oct-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>