<html>
    <head>
        <title>Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
<script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

<style>
      .col2 {
      
        margin: 0 ;

  
    }

   
   .box .container {
        display: flex;
     
      }
   
      i{
        padding-right:10px;
        font-size:22px;
      }
  
  .box .text {
        font-size: 10px;
        padding-left: 10px;
        color:black;
      }

 p{
font-family:raleway;
font-size:17px;
 }


 .io{
    float:left;
 }


</style>{% include "navbar.html" %}

<br>

<body style="background-color: rgb(139, 188, 205);">



<div class="col2" >
   
    <div class="card" style="width: max-width;" >
        <div style="background-color: #fff0e6;">
        <h4 style="margin: 10px 20px 0px 20px;"><center>ASSAM<center></h4>
        <hr>
        
        
        <div class="card-body"style="background-color: #fff0e6;">
            <div class="box">
                <div class="container" >
                
                    <hr>
                    <br>
                    <div class="image">
                      <img src="https://www.ibef.org/assets/images/states/Assam-2.jpg" height=400px width=500px>
                    </div>
                    <div class="text" >
                      <p>Assam, in North East India, is a treasure trove of natural beauty and diverse history, remaining as one of the most bountiful untouched regions in the country. Known as the land of 'Blue Hills and Red River', the state is home to wild forests, mighty rivers, and acres and acres of tea plantations. Popularly known as the home to the one-horned rhino, the state is one of the top biodiversity hotspots in the entire world. With the majestic Brahmaputra river, magnificent hills, rich flora and fauna, the state is every tourist's paradise</p>
                     <hr> 
                      <p><a href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&t=m&oe=UTF8&msa=0&mid=1NyaiKasiOzFRTQm04HZ0u7Mkz3U&ll=0%2C0&z=7"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                      <p> Peak Season : October to April </p>
                      <p> Average cost : ₹2,961 1/N (per person) </p>
                      <p> Average days required:  4 - 12 days</p>
                      <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>

                      <br>
                      

                     
                    </div>
                  </div>
                </div>
        </div>
    </div>

</div>

<br><br>
<div style="background-color: rgb(139, 188, 205);">
<center>
        <h3>ATTRACTIONS<h3>
            <br>
        </center>
<div class="io">
            <div class="card-body">
                <div class="box">
                    <div class="container">
                    
                        <hr>
                        <div class="image">
                            <img src="https://assets.traveltriangle.com/blog/wp-content/uploads/2018/04/Manas-National-Park-tiger-assam.jpg" height=300px width=500px  >

                        </div>
                        <div class="text">
                            <h3>Kaziranga National Park<h3>
                                <p> Home to the largest population of the one-horned rhino on earth, Kaziranga National Park is one of India’s national treasures in terms of flora and fauna. Located in the state of Assam in North-Eastern India, its total area is shared by the districts of Nagaon, Golaghat and Karbi Anglong placing it roughly at the centre of the state. </p>
                                
                                <p> 
                                    Ideal duration: 1-2 days</p>
                                <p> Average cost : Depends </p>
                               
                                <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                        
                          <br>
                          
    
                         
                        </div>
                      </div>



<br>


                      <div class="card-body">
                        <div class="box">
                            <div class="container">
                            
                                <hr>
                                <div class="image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_oAw0YyD7nheN7KHYZLsF1z9Rg_UdlMGJSso2W5keTyZ_dy6ujZxqoePNfQnnqmdWx9I&usqp=CAU" height=300px width=500px margin-top=20px  >
        
                                </div>
                                <div class="text">
                                    <h3>Majuli<h3>
                                        <p>Majuli is a lush green environment-friendly, a pristine and pollution-free freshwater island in the river Brahmaputra, just 20 km from the Jorhat city and located 347 Kms from Guwahati. With a total area of 1250 sq. km, Majuli is the world's largest river island and it attracts tourists from all over the world. Among one of the most surreal places in India, Majuli is also a strong contender for a place in UNESCO's World Heritage Sites. </p>
                                        
                                        <p> Season : Winter Season           </p>
                                        <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                
                                  <br>
                                  
            
                                 
                                </div>
                              </div>

<br>

                              <div class="card-body">
                                <div class="box">
                                    <div class="container">
                                    
                                        <hr>
                                        <div class="image">
                                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/ae/39/96/poa-mecca.jpg?w=1200&h=1200&s=1" height=300px width=500px margin-top=20px  >
                
                                        </div>
                                        <div class="text">
                                            <h3>Hajo Powa Mecca <h3>
                                                <p>The word 'Powa' means 1/4th and hence, Powa Mecca figuratively refers to having some of the sanctity of Mecca. The tomb of Pir Giasuddin Auliya, a pioneer of Islam is located here.

                                                    The Powa Mecca is located near the Madhava temple. It was constructed by Mir Lutufullah-i-Shiraji in 1657, during the rule of the Mughal Emperor Shahjahan. It is also believed that the foundation of the Mosque here was laid with the soil that was brought from Mecca.</p>
                                                
                                                 
                                          <br>
                                          
                    
                                         
                                        </div>
                                      </div>


<br>

                                      <div class="card-body">
                                        <div class="box">
                                            <div class="container">
                                            
                                                <hr>
                                                <div class="image">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Ranghar_-_Assam.jpg" height=300px width=500px margin-top=20px  >
                        
                                                </div>
                                                <div class="text">
                                                    <h3>Rang Ghar<h3>
                                                        <p>As the name suggests, Humayun's tomb is the final resting place of the Mughal Emperor Humayun. Located in the Nizamuddin East area of Delhi, it is the first garden-tomb in the Indian subcontinent. This splendid piece of architecture was commissioned for construction by Humayun's chief consort Empress Bega Begum in the year 1569-70 and is one of the very few structures that used red sandstone on such a massive scale at that time. 
                                                        </p>
                                                        <p> Average cost : INR 5                                 </p>
                                                        <p> Timing: 9:00 AM - 5:00 PM</p>
                                                                
                                                  <br>
                                                  
                            
                                                 
                                                </div>
                                              </div>


                            </div>




                