<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205))">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>BIHAR<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://navbharattimes.indiatimes.com/thumb/95515546/historical-places-of-bihar-or-7-wonders-of-bihar-95515546.jpg?imgsize=153468&width=540&height=405&resizemode=75" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>The land where the Buddha once lived, a land of monasteries - Bihar is visited by a considerable number of Buddhist followers as well as tourists of other faiths all through the year. Its association with Buddhism and Jainism makes it a must visit place for peace seekers, people who would like to get a feel of the tribal culture and experience life in the rural parts of India, and those who would like to get a glimpse of our glorious past.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹10,500 4/N (per person) </p>
                                            <p> Average days required: 4 to 8 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Great_Buddha_Statue%2C_Bodh_Gaya.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Bodh Gaya<h3>
                                        <p>Bodh Gaya is a Buddhist pilgrimage site in Gaya District of Bihar. Famous for the Mahabodhi Temple, It was here under the Bodhi tree that Gautama Buddha attained enlightenment.</p>
                                        <p>Must Visit: Mahabodhi Temple, Great Buddha Statue, Tibetan Refugee Market, Thai Monastery</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 1-3 days</p>
                                        <p>Best Time: Oct-Mar</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://cdn.britannica.com/98/142598-050-962FD6C0/Patna-Museum-Bihar-India.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Patna<h3>
                                                <p>Prospering along the southern banks of river Ganges and set in the backdrop of a glorious historical past, Patna boasts of a dominating presence in history and enjoys the distinction of being one of the oldest cities in the world. In addition to being one of the major and most popular tourist destinations in India, this capital city of Bihar also holds significant religious and spiritual importance as it is a gateway to pilgrimage sites of Hindus, Sikhs, Jains and Buddhists.</p>
                                                <p>Must Visit: Gandhi Ghat, Patna Sahib Gurudwara, Golghar, Bihar Museum</p>
                                                <p>Time Required : 1-3 days</p>
                                                <p>Best Time: Oct-Mar </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://i0.wp.com/www.muzcorner.in/wp-content/uploads/2020/07/Muzaffarpur-City-Population.jpg?fit=1200%2C675&ssl=1" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Muzaffarpur<h3>
                                                        <p>The Litchi Kingdom, Muzaffarpur is located in the north of Bihar. Lying on the banks of Burhi Gandak River, along with the rivers Bagmati and Lakhandayee, Muzaffarpur is one of the major towns of Bihar. Being the administrative headquarter of the Muzaffarpur district, the city is a hub for educational and commercial establishments. Muzaffarpur gets the name from a Revenue Officer Muzaffar Khan. The most notable language spoken here is Vajjika while Hindi is used for official purposes.</p>
                                                        <p>Must Visit: Litchi Garden, Garib Sthan Mandir, Jabba Sahni Park, Khudiram Bose Memorial, Devi Mandir</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Temple_No.-_3%2C_Nalanda_Archaeological_Site.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Nalanda<h3>
                                                                <p>The most popular Mahavihara of the ancient times, a significant Buddhist seat of academic excellence and a modest pilgrim center, all wrapped in a wisp of spirituality, Nalanda continues to be an equally enriching location in the present. It offers vibrant substance of spirituality, history, culture, architecture, and tourism.</p>
                                                                <p> Must Visit: Nalanda Unversity, Hiuen Tsang Memorial Hall, The Great Stupa, Pawapuri</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1 day</p>
                                                                <P> Best Time: Oct-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>