<html>
    <head>
        <title>Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
<script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

<style>
      .col2 {
      
        margin: 0 ;

  
    }

   
   .box .container {
        display: flex;
     
      }
   
      i{
        padding-right:10px;
        font-size:22px;
      }
  
  .box .text {
        font-size: 10px;
        padding-left: 10px;
        color:black;
      }

 p{
font-family:raleway;
font-size:17px;
 }


 .io{
    float:left;
 }


</style>{% include "navbar.html" %}

<br>

<body style="background-color: rgb(139, 188, 205)">



<div class="col2" >
   
    <div class="card" style="width: max-width;" >
        <div style="background-color: #fff0e6;">
        <h4 style="margin: 10px 20px 0px 20px;"><center>DELHI<center></h4>
        <hr>
        
        
        <div class="card-body"style="background-color: #fff0e6;">
            <div class="box">
                <div class="container" >
                
                    <hr>
                    <br>
                    <div class="image">
                      <img src="https://content.r9cdn.net/rimg/dimg/89/80/30f91a95-city-32821-16374b316c6.jpg?width=1366&height=768&xhint=2922&yhint=2792&crop=true" height=400px width=500px>
                    </div>
                    <div class="text" >
                      <p>The capital of India, Delhi is a cosmopolitan city with a historic old Delhi and the modern New Delhi. From historical monuments to crowded shopping malls, from an extensive network of the modern metro system to Delhi University campus, Dilli has multiple personalities and is considered to be the city with a heart.</p>
                     <hr> 
                      <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=1IEVwjHNKZcYI5LKHZfRSFXEKyzg&hl=en_US&ll=28.536795394594403%2C77.15845149999998&z=12"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                      <p> Peak Season : October to March </p>
                      <p> Average cost : ₹2,961 1/N (per person) </p>
                      <p> Average days required:  3-5 days</p>
                      <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>

                      <br>
                      

                     
                    </div>
                  </div>
                </div>
        </div>
    </div>

</div>

<br><br>
<div style="background-color: rgb(139, 188, 205)">
<center>
        <h3>ATTRACTIONS<h3>
            <br>
        </center>
<div class="io">
            <div class="card-body">
                <div class="box">
                    <div class="container">
                    
                        <hr>
                        <div class="image">
                            <img src="https://static.trip101.com/paragraph_media/pictures/001/817/876/large/travel-4813658_1280.jpg?1583142928" height=300px width=500px  >

                        </div>
                        <div class="text">
                            <h3>India Gate<h3>
                                <p> India Gate is a war memorial located in New Delhi, along the Rajpath. It is dedicated to the 82,000 soldiers, both Indian and British, who died during the First World War and the Third Anglo-Afghan War. India Gate looks stunning at night with the fountain displaying colourful lights. The surrounding lush green lawns are a popular picnic spot. The Amar Jawan Jyoti is also located here.</p>
                                
                                <p> Timings : All time          </p>
                                <p> Average cost : No entry fee </p>
                               
                                <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                        
                          <br>
                          
    
                         
                        </div>
                      </div>



<br>


                      <div class="card-body">
                        <div class="box">
                            <div class="container">
                            
                                <hr>
                                <div class="image">
                                    <img src="https://www.holidify.com/images/cmsuploads/compressed/Qutub_Minar_in_the_monsoons_20170908115259.jpg" height=300px width=500px margin-top=20px  >
        
                                </div>
                                <div class="text">
                                    <h3>Qutub Minar<h3>
                                        <p>Qutub Minar is a minaret or a victory tower located in Qutub complex. With the height of 72.5 metres (238 ft), Qutub Minar is the second tallest monument of Delhi. Its construction was started in 1192 by Qutb Ud-Din-Aibak</p>
                                        
                                        <p> Time Required : 2 to 3 hours           </p>
                                        <p> Average cost : INR 40                                   </p>
                                        <p> Timings:   10:00 AM - 5:00 PM. Qutub Minar remains open for tourists all days except Sunday</p>
                                        <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                
                                  <br>
                                  
            
                                 
                                </div>
                              </div>

<br>

                              <div class="card-body">
                                <div class="box">
                                    <div class="container">
                                    
                                        <hr>
                                        <div class="image">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Akshardham_Gandhinagar_Gujarat.jpg/800px-Akshardham_Gandhinagar_Gujarat.jpg" height=300px width=500px margin-top=20px  >
                
                                        </div>
                                        <div class="text">
                                            <h3>Akshardham Temple <h3>
                                                <p>An epitome of Indian culture, spirituality, and architecture, Akshardham Temple is a famous Hindu temple and a spiritual-cultural complex. Also known as Swaminarayan Akshardham, it is dedicated to Lord Swaminarayan.</p>
                                                
                                                <p> Time Required : 3 to 4 hours </p> 
                                                <p> Aarti Timings : 10:00 AM to 6:00 PM </p> 
                                                <p>Timings : All days of the week except Monday: 10:00 AM - 8:00 PM, Ticket counters close at 6:00 PM                                                </p>
                                                
                                                
                                                
                                                <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                        
                                          <br>
                                          
                    
                                         
                                        </div>
                                      </div>


<br>

                                      <div class="card-body">
                                        <div class="box">
                                            <div class="container">
                                            
                                                <hr>
                                                <div class="image">
                                                    <img src="https://www.maharashtratourism.gov.in/documents/38210/1249077/Singhgad++%284%29_4_11zon.jpg/e26a2faf-888f-cca4-ff38-49da4ac62e99?t=1655729454475" height=300px width=500px margin-top=20px  >
                        
                                                </div>
                                                <div class="text">
                                                    <h3>Humayun's Tomb<h3>
                                                        <p>As the name suggests, Humayun's tomb is the final resting place of the Mughal Emperor Humayun. Located in the Nizamuddin East area of Delhi, it is the first garden-tomb in the Indian subcontinent. This splendid piece of architecture was commissioned for construction by Humayun's chief consort Empress Bega Begum in the year 1569-70 and is one of the very few structures that used red sandstone on such a massive scale at that time. 
                                                        </p>
                                                        
                                                        <p> Average cost : INR 10                                  </p>
                                                        <p> Timing: 10:00 AM - 06:00 PM</p>
                                                        <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                                
                                                  <br>
                                                  
                            
                                                 
                                                </div>
                                              </div>


                            </div>




                