<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>HARYANA<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://www.nativeplanet.com/img/1200x60x675/2018/05/asigarh-fort-1525870915.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Haryana is a vibrant state that has managed to retain the best of both worlds- the ancient yet vibrant past and an exciting future to look forward to. Famous not just for its historical sites, its pleasant climate and its quaint landscapes, Haryana is also renowned for being a land of immense cultural diversity, a place often praised for its cordial and amicable ambience, and a state where modern buildings and edifices are as crucial as acres and acres of green fields, vibrant sunsets, and a rich culture that radiates through every nook and cranny of the state. </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=15tdfr5zD-MdHrhwnBpgw8MjuDD0&hl=en_US&ll=0%2C0&z=9"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹7,000 3/N (per person) </p>
                                            <p> Average days required: 3 to 5 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color:rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://www.financialexpress.com/wp-content/uploads/2018/06/Gur.jpg?w=660" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Gurgaon<h3>
                                        <p>Once little more than a dull and comparatively unknown suburb of the national capital region, today, Gurgaon is not only one of the most urbanised cities of India, but it also boasts of a skyline that can easily rival those of Hong Kong and Singapore. Easily accessible from Delhi and Noida, Gurgaon is fast becoming a popular travel destination among holidaymakers. Starting from natural treasures to a flourishing lifestyle and a vibrant nightlife, Gurgaon has everything you could need.</p>
                                        <p>Must Visit: Damdama Lake, Cyber Hub, Manesar, Sohna, Vintage Car Museum</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        <p>Best Time: Oct-Mar</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://static.toiimg.com/photo/72244019.cms" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Kurukshetra<h3>
                                                <p>A city in the state of Haryana, Kurukshetra, also known as Dharmakshetra is known as the "Land of the Bhagavad Gita". Situated 170 km north to Delhi, the place is famous for the battle between the Kauvaras and the Pandavas in the Hindu epic, Mahabharata. It is the place where Lord Krishna is said to have recited the Bhagavad Gita to Arjuna. </p>
                                                <p>Must Visit: Brahma Sarovar, Jyotisar, Bhishma Kund, Krishna Museum, Sannihit Sarover</p>
                                                <p>Entry Fee : No entry fees</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: Jul-Mar  </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://images.livemint.com/img/2021/04/30/1600x900/20210425140L_1619355259804_1619778897116.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Faridabad<h3>
                                                        <p>Faridabad is Haryana's largest city and its major industrial hub as well. Faridabad is the main part of district Faridabad which has two divisions - Faridabad and Ballabgarh. The city shares borders with New Delhi on its north, Gurgaon to its west and Uttar Pradesh on its south west ends.</p>
                                                        <p>Must Visit: Baba Farib's Tomb, Camp Dhauj Lake, Raja Nahar Singh Fort, Surajkund</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: Sep-Dec, Feb-mar</p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://static.trip101.com/paragraph_media/pictures/002/294/795/large/Purana_Quila_ag0112_11.jpg?1606228165" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Panipat<h3>
                                                                <p>Located at a distance of 90 km from Delhi, Panipat is known for the three historical battles that were fought here. Innumerable monument, forts, temples and its magnificent historical connections make Panipat in Haryana an interesting tourist destination. Also known as 'City of Weavers', and 'Textile City', this is an important city for textile production.</p>
                                                                <p> Must Visit: Kabuli Bagh Mosque, Devi Temple, Kala Amb, Salar Gunj Gate, Panipat Museum</p>
                                                                <p> Time Required : 1 day</p>
                                                                <P> Best Time: Oct-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>