<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>KARNATAKA<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://www.holidify.com/images/bgImages/KARNATAKA.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Ranked the 4th most popular tourist state in the country, Karnataka has a bouquet of attractions to offer you. Expanded from Belgaum in the North to Bangalore in the south, it has something to offer to everybody; from beautiful landscapes to rich cultural heritage, serene beaches and scrumptious food, Karnataka is indeed a world in itself! The Malayalis, the Tamilians, Konkanis, Kannadigas, even the Muslims and Christians have made Karnataka their home. It has the second highest number of protected monuments in India, was the capital of Vijayanagar Empire</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to April</p>
                                            <p> Average cost : ₹9,000 4/N (per person) </p>
                                            <p> Average days required: 4 to 12 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://media.tacdn.com/media/attractions-content--1x-1/0b/27/ac/39.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Bangalore<h3>
                                        <p>Having evolved gradually from being the Garden city to the Silicon Valley of India, Bangalore is India's third-largest city. Bangalore is loved for its pleasant weather, beautiful parks and the many lakes here. Bangalore is renowned for its eateries, street food corners, quirky cafes, coffee roasters and pubs dotting every corner of the city, serving cuisines from all over the world. Brunches, buffets, burgers, rooftop cafes, late-night eats - Bangalore has it all.</p>
                                        <p>Must Visit: Breweries, Cubbon Park, Wonderla Amusement Park, Vineyard Tour</p>
                                        <p>Ideal duration: 2-3 days</p>
                                        <p>Best Time: Throughout the year </p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://www.holidify.com/images/bgImages/MYSORE.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Mysore<h3>
                                                <p>Famously known as The City of Palaces, it wouldn’t be wrong to say that Mysore, currently Mysuru, is one of the most important places in the country regarding ancient reigns. It is replete with the history of its dazzling royal heritage, intricate architecture, its famed silk sarees, yoga, and sandalwood, to name just a few. Located in the foothills of the Chamundi Hills, Mysore is the third most populated city in Karnataka, and its rich heritage draws millions of tourists all year round. The highlight is the majestic Mysore Palace, a UNESCO World Heritage Site, which is a must-visit. </p>
                                                <p>Must Visit: Mysore Palace, Brindavan Garden, Somanathapura Temple, Mysore Zoo</p>
                                                <p>Time Required : 1-2 days</p>
                                                <p>Best Time: Throughout the year  </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://www.holidify.com/images/bgImages/GOKARNA.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Gokarna<h3>
                                                        <p>With its pristine beaches and breathtaking landscapes, Gokarna is a Hindu pilgrimage town in Karnataka and a newly found hub for beach lovers and hippies. Situated on the coast of Karwar, every year Gokarna welcomes hordes of tourists from around the world in search of sanctity and relaxation. The out-of-town beaches like Kudle beach and Om Beach are a different contrast to life inside the town. </p>
                                                        <p>Must Visit: Om Beach, Mahabaleshwara Temple, Kudle Beach, Water Sports in Gokarna</p>
                                                        <p>Ideal duration: 2-3 days</p>
                                                        <p>Best Time: October - March </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://assets.architecturaldigest.in/photos/629e24ec2b3eab5c07e6ebd8/16:9/w_2560%2Cc_limit/Hampi%2520retreat.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Hampi<h3>
                                                                <p>Hampi, the city of ruins, is a UNESCO World Heritage Site. Situated in the shadowed depth of hills and valleys in the state of Karnataka, this place is a historical delight for travellers. Surrounded by 500 ancient monuments, beautiful temples, bustling street markets, bastions, treasury building and captivating remains of Vijayanagar Empire, Hampi is a backpacker's delight. Hampi is an open museum with 100+ locations to explore and a favourite way to see the city from the perspective of its history.</p>
                                                                <p> Must Visit: Virupaksha Temple, Vithala Temple, Lotus Palace, Yantrodharaka Hanuman Temple</p>
                                                                <p> Time Required : 2-4 days</p>
                                                                <P> Best Time: Oct-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>