<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>LEH LADAKH<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://media.istockphoto.com/id/1218830644/photo/beautiful-lake.jpg?s=612x612&w=0&k=20&c=r5or5KmtrZE5P93cDPG2FzxWQxhZA0qeTInoXJ7qXxA=" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p> Himachal Pradesh is a breathtaking state synonymous with lush greenery, spectacular views of mighty mountains and valleys, a rich culture, delicious food, adventure sports, a colonial past, and so much more. An absolute treat for adventure seekers, families, honeymooners and solo travellers, the many cities within the state have plenty to offer to tourists and locals alike. Experience the colonial period of Himachal in Shimla and snow capped mountains of Manali. </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : June, July and September, October</p>
                                            <p> Average cost : ₹19,000 5/N (per person) </p>
                                            <p> Average days required: 5 to 7 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Kargil_Town_as_sen_from_Petrol_Pump.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Kargil<h3>
                                        <p>Usually a stopover for people travelling towards Leh from Srinagar, Kargil is a tourist hotspot that's small enough to be explored by wayfaring. Situated close to the line of control, Kargil is also a volatile region. However, apart from its glorious past, Kargil is bestowed with natural beauty and adventure. Kargil has a war memorial which is the main attraction of the region.</p>
                                        <p>Must Visit: Mulbekh Monastery, Drass War Memorial, Trekking, Suru Basin</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 1 day</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://static.toiimg.com/photo/65193856.cms" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Lamayuru<h3>
                                                <p>With a peculiar landscape on Leh-Kargil road, Lamayuru is a tiny village that's popularly known as the Moonland of Ladakh. Lamayuru is immensely popular for housing one of the oldest and largest monasteries in Ladakh. However, its claim to fame is accredited to the surreal breathtaking view of moonlike landscapes carved into the mountains. A large lake long ago dried up, and the protrusions looked like the surface of the moon.</p>
                                                <p>Must Visit: MooLand, Lamayyry Monastery, Uleytokpo, Wanla Gompa</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: Apr-Jun </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/03/b9/e6/1c/nubra-valley.jpg?w=1200&h=-1&s=1" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Nubra Valley<h3>
                                                        <p>Nubra Valley lies in the union territory of Ladakh at a distance of around 140 Km from Leh. Located on the ancient Silk Route, the valley has Shyok and Nubra rivers snaking through it and some beautiful monasteries. </p>
                                                        <p>Must Visit: Bactrian Camel Safari, Panamik Hot Spring, Sumur, Diskit Monastery, Samstanling Monastery, Maitreya Buddha</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: Jun-Sep </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
        </body>
    </head>
</html>                                     