<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>LAKSHADWEEP<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Lakshadweep_-_Agatti_Islands.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Formerly known as Laccadive Islands, Lakshadweep translates to 'one hundred thousand islands' in Malayalam. Home to a few of the most beautiful and exotic islands and beaches of India, Lakshadweep lies 400km off the southwest coast of the Arabian Sea. The smallest union territory of India has only 36 islands having a total area of 32 sq. kilometres. It's made up of 12 atolls, 3 reefs and 5 submerged banks out of which ten Islands are inhabited.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : September - February </p>
                                            <p> Average cost : ₹18,000 4/N (per person) </p>
                                            <p> Average days required: 4 to 6 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://lakshadweepadventures.com/wp-content/uploads/2019/04/Minicoy-beach-Resort.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Minicoy Island<h3>
                                        <p>One of the 36 small islets of Lakshadweep group of Islands, Minicoy, also known as Maliku in the local language is one of the best-kept secrets of India. It is located amidst the vast expanse of Arabian Sea, just 398 km or 215 nautical miles from the shores of Cochin.</p>
                                       
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 1 day</p>
                                        
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://static.toiimg.com/photo/msid-58609803,width-96,height-65.cms" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Agatti Islands<h3>
                                                <p>Agatti Islands is considered another jewel from the Lakshadweep group of islands in India. The island is situated on one of the coral isles of Lakshadweep islands and is few of the islands from the Lakshadweep group that is inhabited by people. One may explore the island on foot or rent a two-wheeler to commute. Every corner of the island is rich with natural vegetation and beautiful geographical formations. </p>
                                                <p>Entry Fee : No entry fee</p>
                                                <p>Time Required : 1 day</p>
                                             
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://assets.traveltriangle.com/blog/wp-content/uploads/2017/07/Have-dinner-at-the-beach-and-let-the-cool-air-fill-you-with-energy-kb6592.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Bangaram Island<h3>
                                                        <p>Bangaram Island is a beautiful tiny island in the Union Territory of Lakshadweep, India. The Bangaram Island encompasses an area of 1.234 km2 and is the largest island in the chain of islands in the region (also known as an atoll) with a beautiful lagoon. With a population of only 10 and just one beach resort, it is an apt destination for people who want to disconnect entirely from the fast-paced world.</p>
                                                        
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://indiatrotter.com/wp-content/uploads/2021/08/SD54-600x350.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Scuba Diving in Lakshadweep<h3>
                                                                <p>Scuba Diving in Lakshadweep is one of the most popular activities amongst travellers. Agatti, Bangaram and Kadmat islands are the three islands that prove a perfect setting for the Scuba. Each dive centre has attached resorts catering to the needs of beginners as well as those interested in CMAS and PADI courses by certified divers. The islands are also enriched with a diverse variety of tropical fishes, vibrant corals and other creatures like turtles, rays and coral sharks.</p>
                                                                <p> Time Required : 7-10 day</p>
                                                                
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>