<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color:rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>MADHYA PRADESH<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://static.toiimg.com/photo/msid-80110775,width-96,height-65.cms" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Madhya Pradesh is one of the few states that is surrounded by other states on all its sides. It lies in the plain regions of the country and occupies one of the oldest parts of the Indian Subcontinent which was once the land of the Gonds called the Gondwana. Every twelve years the grand fair of Kumbh Mela is organised here. Madhya Pradesh has some spectacular historical places in its region, of which a temple made of glass in Indore is quite famous. Ujjain, a sacred city for the Hindus, is a renowned place in the world as it is one of 12 Jyotirlingas in India.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹7,590 4/N (per person) </p>
                                            <p> Average days required: 4 to 12 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://static.sadhguru.org/d/46272/1633415803-1633415802086.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Khajuraho<h3>
                                        <p>Khajuraho, a UNESCO World Heritage Site located in Madhya Pradesh, is known around the world for its stunning temples adorned by erotic and sensuous carvings. A small town located in the Bundelkhand region, Khajuraho is a brilliant example of Indian architecture and its culture back in the medieval period. The architecture of these Hindu and Jain temples depict the erotic forms of love, the carvings on the walls display passion in the most sensuous yet aesthetic ways.</p>
                                        <p>Must Visit: Dulhadev Temple, Kandariya Mahadev Temple, Laksman Temple, Parsvanath Temple, Vishwanth Temple</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        <p>Best Time: Jul-Mar </p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://hindi.holidayrider.com/wp-content/uploads/2019/01/optimized-16a3.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Bhedaghat<h3>
                                                <p>Bhedaghat is known for the Dhuandar Falls (Dhuan means smoke and Dhar means flow), a huge cascade of water that falls from a height of 98 feet. Boating in Bhedaghat especially during the moonlit night would surely make up for an unforgettable experience. The boatmen of these place are storytellers that will tell you about the place in the form of interesting stories. </p>
                                                <p>Must Visit: Marble Rocks, Dhaundhar Falls, Chausath Yogini Temple, Soapstone Artefacts</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time:  Nov-Mar </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://www.holidify.com/images/bgImages/PACHMARHI.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Pachmarhi<h3>
                                                        <p>Pachmarhi is the only hill station and is the highest point in Madhya Pradesh. Pachmarhi is also often known as "Satpura ki Rani" or the "Queen of the Satpura Range". Situated at an altitude of 1,067 metres, the picturesque town is a part of UNESCO Biosphere Reserve, home to leopards and bison.</p>
                                                        <p>Must Visit: Bee Falls, Jata Shankar Caves, Pandava Caves, Dhoopgarh, Handi Khoh</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 2-3 days</p>
                                                        <p>Best Time: Throughout the year </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://www.outlookindia.com/outlooktraveller/public/uploads/articles/explore/shutterstock_1430024867.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Gwalior<h3>
                                                                <p>Gwalior is a historic city located in the state of Madhya Pradesh. Popular because of the hilltop fort, Gwalior is full of palaces and glorious temples giving this city a majestic charm which speaks volumes of its glorious past.</p>
                                                                <p> Must Visit: Gwalior Fort, Jai Vilas Palace, Man Mandie Palace, Tomb of Tansen, Teli ka Mandir</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Jul-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>