<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
           
        .col2 {
            margin: 0 ;

        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>MEGHALAYA<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://images.moneycontrol.com/static-mcnews/2022/12/Wards-Lake-Shillong.-Photo-Sanjukta-Sharma.jpg?impolicy=website&width=1600&height=900" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Meghalaya, the abode of clouds, is one of the most beautiful states in North-East India offering a variety of sights, activities, food and festivals to the tourists. Well known for Cherapunjji, the place which receives one of the maximum rainfall in the world, Meghalaya can mesmerise you with its hills, valleys, lakes, caves and waterfalls which when combined with the beautiful clouds, give it a very serene, beautiful look. Shillong is the capital of Meghalaya, and it is the most urbanised area you will see in the entire state.  </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : All year long</p>
                                            <p> Average cost : ₹9,300 3/N (per person) </p>
                                            <p> Average days required: 3 to 7 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://www.savaari.com/blog/wp-content/uploads/2022/07/rasheda-akter-H1j7GqWsfpI-unsplash.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Shillong<h3>
                                        <p>A beautiful city encircled by pine trees, Shillong is the capital of Meghalaya. It derives its name from Lei Shyllong, an idol worshipped at the Shillong Peak. Standing as tall as 1496 meters, this hill station is known for its weather, picturesque locations and traditions. This place is also known as the ‘Scotland of the East. One can find descendants of the Khyrim, Mylliem, Maharam, Mallaisohmat, Bhowal and Langrim tribes.</p>
                                        <p>Must Visit: Umiam Lake, Elephant Falls, Shillong Peak, Don Bosco Museum</p>
                                        <p>Ideal duration: 2-44 days</p>
                                        <p>Best Time: September - May</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://chaloghumane.com/wp-content/uploads/2021/06/Tura-1400x800.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Tura<h3>
                                                <p>Located in the western part of Meghalaya, as the administrative headquarters of the West Garo Hills district, Tura is an eco-tourist hub of the state. It is located 311 Kms from Shillong and 219 Kms from Guwahati in Assam. As opposed to Shillong, which is growing highly multi-cultural, Tura is relatively deeply rooted in its native Garo roots.</p>
                                                <p>Must Visit: Tura Peak, Siju Caves, Balpakram National Park, Pelga Fall, Rangbang Dar Waterfalls</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: Throughout the year </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/98/61/2a/20191230-135003-largejpg.jpg?w=500&h=300&s=1" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Jowai<h3>
                                                        <p>Located in the Jaintia Hills district, Jowai located at a distance of 66 Kms from Shillong, is famous for its bucolic setting and breathtaking views with the perfect mix of heritage and culture. Jowai, much like Cherrapunji prides itself in being a destination much loved for a scenic drive and boasting of lakes, vast open valleys and waterfalls. </p>
                                                        <p>Must Visit: Tryshi Falls, Nartiang Monoliths, Krang Suri Falls, UMlawan Cave</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: Oct-Mid May </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2018/06/dawki-cherrapunji-meghalaya.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Cherrapunji<h3>
                                                                <p>Earlier the wettest place on the Earth, Cherrapunji in Meghalaya, also known as Sohra, is known for its double-decker living root bridge. Located around 50 Kms from Shillong, this sub-divisional town is famous for its rich flora and natural attractions. Although Mawsynram is now the wettest place on earth, Cherrapunji still holds the record for the highest recorded rainfall in a calendar year. </p>
                                                                <p> Must Visit: Dawki, Nohkalikai Waterfalls, Mawlynnong, Mawsmai Cave, Mawsmai Falls</p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Sep-May </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>