<html>
    <head>
        <title>Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
<script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

<style>
      .col2 {
      
        margin: 0 ;

  
    }

   
   .box .container {
        display: flex;
     
      }
   
      i{
        padding-right:10px;
        font-size:22px;
      }
  
  .box .text {
        font-size: 10px;
        padding-left: 10px;
        color:black;
      }

 p{
font-family:raleway;
font-size:17px;
 }


 .io{
    float:left;
 }


</style>{% include "navbar.html" %}

<br>

<body style="background-color: rgb(139, 188, 205)">



<div class="col2" >
   
    <div class="card" style="width: max-width;" >
        <div style="background-color: #fff0e6;">
        <h4 style="margin: 10px 20px 0px 20px;"><center>MANALI<center></h4>
        <hr>
        
        
        <div class="card-body"style="background-color: #fff0e6;">
            <div class="box">
                <div class="container" >
                
                    <hr>
                    <br>
                    <div class="image">
                      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/0f/94/c2/paragliding-in-solang.jpg?w=600&h=400&s=1" height=400px width=500px>
                    </div>
                    <div class="text" >
                      <p>In Hinduism, Manu was said to have survived a great flood that destroyed the rest of the world. He then recreated mankind in this Kullu Valley town. What a rush, huh? No wonder the towering peaks and verdant terrain of Manali attracts adventure travellers, with heli-skiing, hiking, mountaineering and river rafting the favored active pursuits. Come down from your endorphin high by breathing deeply at the four-story, wooden Hidimba Devi Temple, which sits in the middle of a nearby deciduous forest, or take a medicinal soak in the hot springs burbling from the ground a 30-minute walk from town</p>
                     <hr> 
                      <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                      <p> Peak Season : March to June </p>
                      <p> Average cost : ₹10,000 3/N (per person) </p>
                      <p> Average days required: 3 to 4 days</p>
                      <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>

                      <br>
                      

                     
                    </div>
                  </div>
                </div>
        </div>
    </div>

</div>

<br><br>
<div style="background-color: rgb(139, 188, 205)">
<center>
        <h3>ATTRACTIONS<h3>
            <br>
        </center>
<div class="io">
            <div class="card-body">
                <div class="box">
                    <div class="container">
                    
                        <hr>
                        <div class="image">
                            <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/6117ko7pkwxy69mw2jqdwhzmcwy5_paragliding-1526139_960_720.jpg" height=300px width=500px  >

                        </div>
                        <div class="text">
                            <h3>Paragliding In Manali<h3>
                                <p>Take-off from the highest paragliding site in Manali based at a height of 8000 ft.Admire more than 5 majestical Himalayan peaks while gliding through the skies. Get a stunning video shot on a Go-Pro camera (optional) to capture some memories. Get guidance from an experienced instructor who will ensure a hassle-free experience</p>
                                
                                <p> Activity Location: Dobhi, Manali                </p>
                                <p> Average cost : INR 1,879 </p>
                                <p> Flight Duration: 5-10 mins ( timings may vary )</p>
                                <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                        
                          <br>
                          
    
                         
                        </div>
                      </div>



<br>


                      <div class="card-body">
                        <div class="box">
                            <div class="container">
                            
                                <hr>
                                <div class="image">
                                    <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/pqmp3b0e5cn64jcykuk9mez64per_4879206159_88710f70da_o.jpg" height=300px width=500px margin-top=20px  >
        
                                </div>
                                <div class="text">
                                    <h3>River Rafting in Kullu<h3>
                                        <p>Kullu-Manali is a popular destination for its stunning mountains and lush green forests, as well as a variety of adventure sports. Amongst them, river rating is one of the most popular adventure activities conducted on the Beas river. Prepare to be enthralled by a thrilling river rafting adventure.</p>
                                        
                                        <p> Activity Location: Beas River, Kullu               </p>
                                        <p> Average cost : INR 440                                        </p>
                                        <p> Rafting in Kullu Timings: 9:00 AM - 04:00 PM</p>
                                        <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                
                                  <br>
                                  
            
                                 
                                </div>
                              </div>

<br>

                              <div class="card-body">
                                <div class="box">
                                    <div class="container">
                                    
                                        <hr>
                                        <div class="image">
                                            <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/23o46fsl625dj4m7w7wx0uob8r1s_2021-04-01%20%2820%29.jpg" height=300px width=500px margin-top=20px  >
                
                                        </div>
                                        <div class="text">
                                            <h3>Riverside Camping<h3>
                                                <p>Bestowed on a lush green foothill of the Pir Panjal range, this campsite is surrounded by a thick avenue of pine trees that overlooks the alluring waters of the Beas river. </p>
                                                
                                                <p> Activity Location: Near Bahanu Bridge, Manali                                                </p>
                                                <p> Average cost : INR 1,089                                       </p>
                                                <p>Check-in time: 12:00 PM (Day 1)                                                </p>
                                                <p>Check-out time: 11:00 AM (Day 2)                                              </p>
                                                
                                                <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                        
                                          <br>
                                          
                    
                                         
                                        </div>
                                      </div>


<br>

                                      <div class="card-body">
                                        <div class="box">
                                            <div class="container">
                                            
                                                <hr>
                                                <div class="image">
                                                    <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/py04lc9rgy5t7zk2jkrvur1evkii_shutterstock_714519499.jpg" height=300px width=500px margin-top=20px  >
                        
                                                </div>
                                                <div class="text">
                                                    <h3>Hot Air Balloon Ride in Manali<h3>
                                                        <p>Hot air ballooning in Manali is a fun and exciting activity to take part in Manali. Indulging in this activity at this beautiful tourist hill station makes it even more attractive because of the picturesque views it offers.</p>
                                                        
                                                        <p> Activity Location: Manali, Himachal Pradesh               </p>
                                                        <p> Average cost : INR 1,149                                       </p>
                                                        <p> Activity Duration: 15 minutes</p>
                                                        <a href="https://www.thrillophilia.com/tours/paragliding-in-manali"><button type="button" class="btn btn-success">Book Now</button></a>
                                                                
                                                  <br>
                                                  
                            
                                                 
                                                </div>
                                              </div>


                            </div>




                