<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color:rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>MIZORAM<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://www.holidify.com/images/bgImages/MIZORAM.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Known as the 'Songbird of India', the northeastern state of Mizoram is one of the smallest states in India. The moderate climate of Mizoram, which is comfortable even in during summer makes it an attractive destination for all the tourists. The vast culture and grand festivals of the state have a unique, irresistible charm which can not be explained or read; it can only be felt once you are in the peaceful, serene land of Mizoram. The dense greenery and the 21 hill ranges that stretch throughout the territory of Mizoram is sure to take you surrounded to a different world.  </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : November to March </p>
                                            <p> Average cost : ₹9,5003/N (per person) </p>
                                            <p> Average days required: 3 to 5 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://www.tourmyindia.com/states/mizoram/images/aizawl-mizoram.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Aizawl<h3>
                                        <p>Lying at a height of 1132 m above sea level, Aizawl is a quaint city and the capital of the state of Mizoram in northeast India. Primarily dominated by the Mizo Tribe, Aizawl and its surrounding areas are lush with rolling hills and abundant greenery. The city, along with the majority of the state is known for its agricultural produce and ethnic handicrafts and apparel.</p>
                                        <p>Must Visit: Durtlang Hills, Reiel, Vantawng Falls, Mizoram State Museum, KV Paradise</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        <p>Best Time: Throughout the year </p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://dcserchhip.mizoram.gov.in/uploads/attachments/bb/52/70/ca/e4/f7/71/48/6d/c1/6a/47/57/a4/1e/8a/serchhip.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Serchhip<h3>
                                                <p>This small town can give one the experience of a small village, the life, activities and colors that it sustains in the everyday. Some of the popular villages one can visit are the Neihloh and Buangpuri. The nature too plays a role in tourism with spots such as the Vantawng Khawhltha water fall. Other places here include the Chhingpui Thlan and Hriantrengna lung.</p>
                                                <p>Must Visit: Chhingpuii Thlan, Thenzawl, Paragliding in Serchhip</p>
                                                <p>Entry Fee : No entry fees</p>
                                                <p>Time Required : 1 day</p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://www.outlookindia.com/traveller/wp-content/uploads/2017/08/Champhai1_FI.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Champhai<h3>
                                                        <p>The town of Champhai on the eastern border of Mizoram close to the Indo-Myanmar border is the administrative headquarters of the Champhai district. It is located at a distance of 188 Kms from the capital of Aizawl and is strategically and commercially important for the state of Mizoram as well as for India. Champhai and its surrounding regions are primarily known for their natural beauty and vast valleys of rice fields.</p>
                                                        <p>Must Visit: Rih Dil,Murlen National Park, Lengteng Wildlife Sanctuary</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://www.theindiatourism.com/images/Aizawl.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Mamit<h3>
                                                                <p>The Mamit district is the fourth largest district of the state of Mizoram. The town of Mamit, the administrative headquarters of the district, is located around 95 kms from Aizawl to the west. Known for its exquisite scenic locales and magnificence, don't miss out to add this place in your itinerary in Mizoram. The Dampa Tiger Reserve, among the famous natural protected regions of India, is a popular tourist attraction here.</p>
                                                                <p> Must Visit: Saitlaw, West Phaileng, Kanghmun, Pukzing, Lungkulh</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1 day</p>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>