<html>
    <head>
        <title>Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
<script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

<style>
      .col2 {
      
        margin: 0 ;

  
    }

   
   .box .container {
        display: flex;
     
      }
   
      i{
        padding-right:10px;
        font-size:22px;
      }
  
  .box .text {
        font-size: 10px;
        padding-left: 10px;
        color:black;
      }

 p{
font-family:raleway;
font-size:17px;
 }


 .io{
    float:left;
 }


</style>{% include "navbar.html" %}

<br>

<body style="background-color: rgb(139, 188, 205)">



<div class="col2" >
   
    <div class="card" style="width: max-width;" >
        <div style="background-color: #fff0e6;">
        <h4 style="margin: 10px 20px 0px 20px;"><center>MUMBAI<center></h4>
        <hr>
        
        
        <div class="card-body"style="background-color: #fff0e6;">
            <div class="box">
                <div class="container" >
                
                    <hr>
                    <br>
                    <div class="image">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Fi90_ENVIAEBIqS.jpg/800px-Fi90_ENVIAEBIqS.jpg" height=400px width=500px>
                    </div>
                    <div class="text" >
                      <p>Mumbai, the capital city of the Indian state of Maharashtra, is a spectacular paradox of chaos and hope, glamour and squalor, modernity and tradition. Famously known as the City of Dreams, Mumbai – formerly known as Bombay - Mumbai is a beautifully blended melting pot of cultures and lifestyles.</p>
                     <hr> 
                      <p><a href="https://www.google.com/maps/d/u/0/viewer?msa=0&ie=UTF8&t=h&vpsrc=6&ll=19.165924000000018%2C77.71728500000002&spn=11.50114%2C21.621094&z=6&source=embed&mid=1DfFcv3jAM8NAeioBjW_CHwtKL3A"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                      <p> Peak Season : October - February  </p>
                      <p> Average cost : ₹2,961 1/N (per person) </p>
                      <p> Average days required:  3-5 days</p>
                      <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>

                      <br>
                      

                     
                    </div>
                  </div>
                </div>
        </div>
    </div>

</div>

<br><br>
<div style="background-color:rgb(139, 188, 205)">
<center>
        <h3>ATTRACTIONS<h3>
            <br>
        </center>
<div class="io">
    <div class="card-body">
        <div class="box">
            <div class="container">
            
                <hr>
                <div class="image">
                    <img src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_694433434_20191213110339_20191213110412.png" height=300px width=500px margin-top=20px  >

                </div>
                <div class="text">
                    <h3>Elephanta Caves<h3>
                        <p> A UNESCO World Heritage Site, Elephanta Caves is a specimen of rock-cut art and architecture from the times of medieval India. The caves are located on the Elephanta or Gharapuri island which is situated at a distance of 11 km from the city of Mumbai. Natively known as Gharapurichi Leni, the Elephanta Caves that exist today are ruins of what were once elaborately painted artworks </p>
                        <p>Timings : 9:00 AM to 5:30 PM  </p>
                        <p>Time Required : 4-5hours </p>
                                
                  <br>
                  

                 
                </div>
              </div>


<br>

<div class="card-body">
    <div class="box">
        <div class="container">
        
            <hr>
            <div class="image">
                <img src="https://yometro.com/images/places/marine-drive-mumbai.jpg" height=300px width=500px margin-top=20px  >

            </div>
            <div class="text">
                <h3>Marine Drive, Mumbai<h3>
                    <p> Marine Drive is the most easily identifiable landmark associated with Mumbai and is indicative of the glamor and glitter of the city. It is essentially 3.6 km long, arc-shaped boulevard along the South Mumbai coast that starts at the southern end of Nariman Point and ends at Girgaum Chowpatty, popularly known as Chowpatty Beach.</p>
                    <p>Time Required : 1-2 hours </p>
                    <p>Timings : Anytime  </p>
                    <p> Length : Spread along 3.6 kilometres</p>
                            
              <br>
              

             
            </div>
          </div>


<br>

<div class="card-body">
    <div class="box">
        <div class="container">
        
            <hr>
            <div class="image">
                <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/03/28/806679-juhu-beach-dna.jpg" height=300px width=500px margin-top=20px  >

            </div>
            <div class="text">
                <h3>Juhu Beach<h3>
                    <p>Juhu beach is the longest beach in Mumbai and the most popular among tourists as well. It is renowned for its wide variety of street food that has a typical Mumbai flavour and is sweet and sour. The surrounding area of Juhu is one of the poshest localities in Mumbai and is home to a lot of famous Bollywood and TV celebrities </p>
                    <p> Timings : Anytime</p>
                    <p> Time Required : 1-2 hours </p>
                    <p> Entry Fee : Free</p>
                            
              <br>
              

             
            </div>
          </div>



<br>

                                      <div class="card-body">
                                        <div class="box">
                                            <div class="container">
                                            
                                                <hr>
                                                <div class="image">
                                                    <img src="https://www.holidify.com/images/cmsuploads/compressed/800px-ColabaMumbai_-_panoramio_19_20191212144752.jpg" height=300px width=500px margin-top=20px  >
                        
                                                </div>
                                                <div class="text">
                                                    <h3>Colaba Causeway<h3>
                                                        <p>One of the most exciting and eclectic places to visit in Mumbai is the Colaba Causeway, famous for being a shopper's paradise. Iconic at best, ask any Mumbaikar and they will tell you that the Causeway is pretty much the heart of Mumbai. Resurgent, even after the terror attack, this shopping street stood up on its feet in no time. </p>
                                                        <p>Time Required : 2-3 hrs  </p>
                                                        <p>Entry Fee : No entry fee </p>
                                                                
                                                  <br>
                                                  
                            
                                                 
                                                </div>
                                              </div>


                            </div>



