<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>NAGALAND<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://www.holidify.com/images/bgImages/NAGALAND.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>In Nicknamed as the ?Land of Festivals?, Nagaland is a quaint state in the north-east part of the country and is one of the most-loved hill station tourist destinations in India. Nagaland is as much about scenic beauty as it is about carefully preserved history and tradition, and a visit to this mesmerising state will open up a vista of things you can see and do to make your holiday a memorable one. Inhabited by the tribes who are very protective towards their culture and identity, Nagaland is another name for beauty and bounty</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to May</p>
                                            <p> Average cost : ₹8,407 3/N (per person) </p>
                                            <p> Average days required: 3 to 5 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/12/cover-places-to-visit-in-kohima.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Kohima<h3>
                                        <p>Kohima is the hilly capital of Nagaland, which is one of the seven sister states of India. ‘Kohima’ is the anglicized name given by the British, the original name being 'Kewhira' derived from the Kewhi flowers found in the region. Famous for its ethereal environment and untouched beauty, it is a land of folklore passed down through the ages. Situated at a height of 1500 metres above the sea level, it is endowed with quaint hills, emerald forests and a picturesque landscape. It is the go-to place for all you adventure enthusiasts as it is ideal for trekking, camping and hiking.</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://static2.tripoto.com/media/filter/tst/img/OgData/1516603698_1515401971_screen_shot_2018_01_08_at_1_27_46_pm_fotor.png" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Mokokchung<h3>
                                                <p>The most significant urban centre in all of Nagaland after Dimapur and Kohima and the home of Ao Naga.The popular tourist spots in the area include the District Museum, the Town main park, (located just above the Town Center), Unman village (which is regarded as the oldest and largest) and the Ao village. In addition, visitors might also be interested in exploring places like Longkhum, Langpangkong, Mopungchukit and Chuchuyimlang located within the district.</p>
                                                <p>Must Visit: Longkhum, Ungma Village, Langpongkong Caves, Molung Village</p>
                                                <p>Entry Fee : No entry fees</p>
                                                <p>Time Required : 1-2 days</p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://media-cdn.tripadvisor.com/media/photo-c/1280x250/0e/62/13/76/pillars-at-kachari-ruins.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Dimapur<h3>
                                                        <p>Known to be the largest and fastest growing city of Nagaland, most travellers come to this city in transit because of the airport situated in the city. Some of the few attractions here are: Triple Falls, Kachari Ruins, the Nagaland science center and the zoological park. </p>
                                                        <p>Must Visit: The Triple Falls, Kachari Ruins, Shopping in Dimapur</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://www.incredible-northeastindia.com/images/nagaland-head.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Tuensang<h3>
                                                                <p>Tuensang is the headquarters of the Tuensang district, the easternmost, largest district of Nagaland, and flanked by Myanmar on its right side. It is one of the largest urban centres in Nagaland along with Dimapur, Kohima and Mokokchung, making it a top tourist destination in the state of Nagaland.</p>
                                                                <p> Must Visit: Noklak, Longtrok, Changsangmongko, Tsadang</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1 day</p>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>