<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>ODISHA<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://m.economictimes.com/thumb/msid-70259692,width-1200,height-900,resizemode-4,imgsize-325334/orissa1.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Odisha, the state with a glorious history, is filled with nature and adventure. Inhabited by tribal people, the not-so-developed state of Odisha must be visited to have the experience of the myriad wonders it has in store for everybody. Also known as the soul of India, Odisha is a place where you can relax on the beaches, visit the famous temples and explore the beauty and bounty of nature and wildlife. You can also find various monuments which gloriously stand to remind you of the history of the land. </p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : November to May</p>
                                            <p> Average cost : ₹8,900 4/N (per person) </p>
                                            <p> Average days required: 4 to 8 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://hblimg.mmtcdn.com/content/hubble/img/puri/mmt/destination/m_Puri_activity_wildlife_l_415_671.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Puri<h3>
                                        <p>Puri in Odisha is one of the four must-visit pilgrimage sites for Hindus because of Jagannath Temple that forms the part of Char Dham in India. Puri is a beach city located on the coast of Bay of Bengal which is one of the favourites among people of West Bengal for a short trip.</p>
                                        <p>Must Visit: Shri Jagannath Puri Temple, Puri Beach, Chilika Lake, Jagannath Rath Yatra</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        <p>Best Time: Jul-Mar</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/19/bb/58.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Bhubaneswar<h3>
                                                <p>Bhubaneshwar is an ancient city replete with beautiful historic temples which attract pilgrims and tourists from all over the country. The name of the city literally means Lord of the Universe, rightly reflected in the number of temples here and the religious fervor of its locals. This is now a bustling city where the history is beautifully intertwined with its modern and progressive present. </p>
                                                <p>Must Visit: Lingaraj Temple, ISKCON Temple, Hirakud dam, Rajarani Temple, Bindu Sarovara</p>
                                                <p>Time Required : 1-2 days</p>
                                                <p>Best Time: Oct-Mar  </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://www.holidify.com/images/bgImages/BARIPADA.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Baripada<h3>
                                                        <p>At a distance of 248km from Kolkata and 256km from Bhubaneshwar, Baripada is a city, recognised by its beautiful culture and an essence of purity in nature. Its Rath Yatra is considered the biggest and oldest after Puri and thus Baripada is also known as Dwitiya Srikhetra (Second Puri)</p>
                                                        <p>Must Visit: Simlipal National Park, Jwala Mukhi Temple, Jagannath Temple, Chandipur Market, Baripada Museum</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: Oct-Jun </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://www.tripiwiki.com/images/places/uploads/Gopalpur-Beach18321.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Gopalpur<h3>
                                                                <p>In the southern coastline of Odisha just 15 km from the city of Behrampur is located a quaint, tiny town of Gopalpur which was a sea port, bustling with trade and commerce, in the Colonial Era.</p>
                                                                <p> Must Visit:Gopalpur Beach, Ramha, Mayfair Palm Beach Resort, Gopalpur Lighthouse</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time:  Nov-Feb</P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>