<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>PUNJAB<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://cdn.britannica.com/53/176353-050-5B854179/Harmandir-Sahib-Amritsar-Punjab-India.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Located in the northwestern part of India, Punjab means the land of five rivers. Known for its cuisine, culture and history, Punjab is visited by tourists who want to enjoy its vibrant culture and food. The fertile land of farms and forts, Punjab has been aptly nicknamed the 'Smiling Soul of India' where you will always see smiles on the faces of the inhabitants who take pride in their religion and culture. Though the state does not have any significant adventure activity to offer, yet entertainment is guaranteed!. There are many Forts in the state that tell the tale of the land's past.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/place/Manali,+Himachal+Pradesh/@32.2395071,77.1696102,14z/data=!3m1!4b1!4m6!3m5!1s0x39048708163fd03f:0x8129a80ebe5076cd!8m2!3d32.2431872!4d77.1891761!16zL20vMDQ2eDR4"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season :  October to March</p>
                                            <p> Average cost : ₹6,000 3/N (per person) </p>
                                            <p> Average days required: 3 to 5 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://www.worldatlas.com/upload/2f/2a/83/shutterstock-725535832.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Amritsar<h3>
                                        <p>Home of the glorious Golden Temple, the iconic city of Amritsar, portrays the heroic character of Punjab.  The second-largest city of the Indian state of Punjab, Amritsar is colloquially known as Ambarsar. Apart from the Golden Temple, Amritsar is known for its lip-smacking street food.</p>
                                        <p>Must Visit: Golden Temple, Wagah Border, Jallianwala Bagh, Partition Museum</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 2-3 days</p>
                                        <p>Best Time: October - March </p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://cdn1.goibibo.com/voy_ing/t_fs/punjab-patiala-148314096671o.jpeg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Patiala<h3>
                                                <p>The fourth-largest city in the state of Punjab, Patiala is nestled in the southeast of the golden land. Patiala has strong historical and cultural roots, surrounded by architectural marvels and cultural heritage along with being a preferred destination for exploring the core traditions of Punjab. Patiala was once an erstwhile princely state and hence is home to many architectural marvels that are a blend of Mughal and Rajput architecture.</p>
                                                <p>Must Visit: Qila Mubarak Complex, Patiala Kali Mata Mandir, Sheesh Mahal, Moti Bagh Palace</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time: Oct-Mar</p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://englishtribuneimages.blob.core.windows.net/gallary-content/2020/8/Desk/2020_8$largeimg_910819454.jpeg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Ludhiana<h3>
                                                        <p>Situated on the banks of river Sutlej, Ludhiana, Punjab’s largest city, is one of the biggest manufacturing hubs in India. Also known as Manchester of India, Ludhiana is famous for its hosiery industries, the ancient ruins of the Lodi dynasty and the war museum. </p>
                                                        <p>Must Visit: Lodhi Fort, Rakh Bagh Park, Maharaja Ranjit Singh War Museum, Hardy's World Amusement Park</p>
                                                        <p>Ideal duration: 1 day</p>
                                                        <p>Best Time: Oct-Jun </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/06/temples-in-jalandhar-cover.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Jalandhar<h3>
                                                                <p>The city of Jalandhar is the true personification of the rich heritage and history of Punjab - a culmination of the old and the new. This historic city was a part of the illustrious Indus Valley Civilisation. Present day Jalandhar has grown to be an important commercial and industrial hub and is also known for its delectable Punjabi cuisine. The ancient city of Jalandhar promises to let you experience the best of Punjab, along with a taste of its history and culture.</p>
                                                                <p> Must Visit: Rangla Punjab Haveli, Devi Talab Mandir, Science City Kapurthala, Wonderland</p>
                                                                <p> Time Required : 2-3 days</p>
                                                                <P> Best Time:  October to March </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>