<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>RAJASTHAN<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Thar_Khuri.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>The Indian state of Rajasthan is popularly known to many as the Land of the Kings, is a beautiful example of India?s age-old opulence and grandeur, traces of which still linger in the air of this state. One of the most colourful and vibrant states in the country, with a strong blend of culture, history, music, cuisine falling in love with Rajasthan doesn't take much time. Rajasthan has more history than the entire country put together- it is the realm of erstwhile Maharajas and their lavish palaces and majestic forts.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps?q=Rajasthan&ftid=0x396a3efaf7e30e37:0xb52b9b4506c088e5"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹8,000 4/N (per person) </p>
                                            <p> Average days required: 4 to 15 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/East_facade_Hawa_Mahal_Jaipur_from_ground_level_%28July_2022%29_-_img_01.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Jaipur<h3>
                                        <p>Also called the Pink City, Jaipur is the capital of the royal state of Rajasthan. Along with Delhi and Agra, Jaipur forms the Golden Triangle and hails as one of the most famous tourist circuits in the country.</p>
                                        <p>Must Visit: Hawa Mahal, Amer Fort, City Palace, Nahargarh Fort</p>
                                        <p>Entry Fee : No entry fees</p>
                                        <p>Ideal duration: 2-3 days</p>
                                        <p>Best Time: November - March</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://www.tourism.rajasthan.gov.in/content/dam/rajasthan-tourism/english/city/explore/Toad%20Rock%20View%20Point.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Mount Abu<h3>
                                                <p> The only hill station of Rajasthan, Mount Abu is located in the Aravali range. The most important attraction, however, are undoubtedly the Dilwara temples, which is one of the most stunning pieces of architecture in the country.  Travellers can enjoy calm and relaxed boating in Nakki Lake, and a view of the sunset from the vista points. The restaurants and eateries around the lake are great places to eat local food and chill. The highest peak of the Aravali Range - Guru Shikhar also lies in Mt. Abu. </p>
                                                <p>Must Visit: Nakki Lake, Guru Shikhar, Toad Rock, Dilwara Temple, Mount Abu Sunset Point</p>
                                                <p>Time Required : 1-2 days</p>
                                                <p>Best Time: Oct-Mar </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,q_auto/v1/filestore/5ucth5oc4tzsmvy6fpx7ytavn113_shutterstock_1267359385.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Jaisalmer<h3>
                                                        <p>Jaisalmer is a prominent tourist spot located in the northwestern state of Rajasthan in India. It is known as the 'golden city' due to its golden dunes and castles clad in golden honey sandstone. Jaisalmer is adorned with lakes, ornate Jain temples and havelis. Climb onto the camel saddle and make your way through this desert to camp under the starry night sky for an unforgettable experience.</p>
                                                        <p>Must Visit: Quad Biking, Jaisalmer Fort, Desert Safari, Gadisar Lake</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 2-3 days</p>
                                                        <p>Best Time:  Oct-Mar </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://www.tripsavvy.com/thmb/9UwtKJX6FWpYF3hxjhuXw2uHQsw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-481776206-58fde26a5f9b581d59810c1d.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Jodhpur<h3>
                                                                <p>Jodhpur is the second-largest city in Rajasthan and the former capital of the Marwar region. It is popularly called "the Blue City" as it looks completely blue from an aerial view because of its blue walls and houses. Jodhpur is primarily famous for its temples, lakes and snacks, with the magnificent Mehrangarh Fort being the main attraction.</p>
                                                                <p> Must Visit: Mehrangarh Fort, Camel Safari, Jaswant Thada, Mandore Garden</p>
                                                                <p> Entry Fee : No entry fees </p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Nov-Feb  </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>