<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>UTTAR PRADESH<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://static.toiimg.com/photo/msid-89858800,width-96,height-65.cms" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>Home to one of the Seven Wonders of the World and flaunting exquisite arts like the handicrafts and jewellery Uttar Pradesh is a bountiful state and an utterly religious one. It is the home to some of the most beautiful monuments and cultural sights in India. The home to diverse religious people, this state boasts of the various cultural and religious fests. With massive royal influence in the fields of dance and music and arts, this state is home to one of the first classical dances of India, Kathak. The state is also known for its Nawabi style in food, can advertise fantastic street food like the samosa and kachori as well as the royal meaty feasts and kebabs. The land of Ram, Lord Krishna, the Buddha and the Taj Mahal- Uttar Pradesh, rich in diversity, transcends all boundaries of art and culture and brings together a lively mix of people from all around the nation.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=12dHxVDKIZJSi0dpUdAsHLxC4fjU&hl=en&ll=26.966091809828523%2C80.3361565&z=7"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹6,500 3/N (per person) </p>
                                            <p> Average days required: 4 to 12 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color: rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Taj_Mahal%2C_Agra%2C_India_edit3.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Agra<h3>
                                        <p>Located on the banks of River Yamuna in Uttar Pradesh, Agra is a popular tourist destination as it is home to one of the 7 wonders of the world, the Taj Mahal. It is a sneak peek into the architectural history and legacy of the Mughal empire with two other UNESCO World Heritage Sites Agra Fort and Fatehpur Sikri. History, architecture, romance all together create the magic of Agra, and hence, makes for a must-visit for anyone living in or visiting India.</p>
                                        <p>Must Visit: Taj Mahal, Fatehpur Sikri, Agra Fort, Mehtab Bagh</p>
                                        <p>Ideal duration: 1-2 days</p>
                                        <p>Best Time: Oct-Mar</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://www.worldatlas.com/upload/cf/3a/90/shutterstock-1400154155.jpg" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Varanasi<h3>
                                                <p> World's oldest living city, Varanasi - also known as Kashi (City of Life) and Benaras, is the spiritual capital of India. It is one of Hinduism's seven holy cities. The old city of Varanasi lies along the western banks of the Ganges, spread across a labyrinth of narrow galis. Be prepared to walk on foot and encounter some holy cows! </p>
                                                <p>Must Visit: Kashi Vishwanath Temple, Dashashwamedh Ghat, Sankat Mochan Hanuman Temple, Assi Ghat</p>
                                                <p>Time Required : 2-3 days</p>
                                                <p>Best Time:  October-March </p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://static.toiimg.com/thumb/msid-89182877,width-748,height-499,resizemode=4,imgsize-2444912/Mind-blowing-facts-about-Lucknow.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Lucknow<h3>
                                                        <p>The capital and the largest city of Uttar Pradesh, Lucknow, situated on the banks of river Gomti, welcomes you with a heartwarming note of "Muskuraiyein, kyunki aap Lucknow mein hai". A city of kebabs and nawabs, of architecture and history, of literature and culture – that is Lucknow in a nutshell for you. From a slice of rich colonial history to modernized museums, this artistic hub of Awadh region beautifully brings together the opulence of a glittering past and the simplicity of a modern city.</p>
                                                        <p>Must Visit: Bara Imambara, Chote Imambara, British Residency, Rumi Darwaza</p>
                                                        <p>Entry Fee : No entry fee</p>
                                                        <p>Ideal duration: 1-2 days</p>
                                                        <p>Best Time: Oct-Mar </p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://static.toiimg.com/photo/93479583.cms" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Mathura<h3>
                                                                <p>One of Hinduism's seven sacred cities, Mathura is the birthplace of the very beloved Lord Krishna. Located in the state of Uttar Pradesh, Mathura and Vrindavan are often considered twin cities (located only 10km away from each other). Mathura is a small town dotted with temples from various ages and attracts a horde of pilgrims from all over the world. </p>
                                                                <p> Must Visit: Birla Mandir Mathura, Dwarkadheesh Temple, Shri Krishna Janmasthan, Govardhan Hill, Radha Kund</p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Oct-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>