<html>
    <head>
        <title>Example</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/a7fabd9031.js" crossorigin="anonymous"></script>

        <style>
        .col2 {
            margin: 0 ;
        }
    
        .box .container {
            display: flex;
        }
   
        i{
            padding-right:10px;
            font-size:22px;
        }
  
        .box .text {
            font-size: 10px;
            padding-left: 10px;
            color:black;
        }

        p{
            font-family:raleway;
            font-size:17px;
        }


        .io{
            float:left;
        }


        </style>{% include "navbar.html" %}
        <br>
        
        <body style="background-color: rgb(139, 188, 205)">
            
            <div class="col2" >
                <div class="card" style="width: max-width;" >
                    <div style="background-color: #fff0e6;">
                        <h4 style="margin: 10px 20px 0px 20px;"><center>WEST BENGAL<center></h4>
                            <hr>
                            <div class="card-body"style="background-color: #fff0e6;">
                                <div class="box">
                                    <div class="container" >
                                        <hr>
                                        <br>
                                        <div class="image">
                                            <img src="https://www.holidify.com/images/bgImages/WEST-BENGAL.jpg" height=400px width=500px>
                                        </div>
                                        <div class="text" >
                                            <p>The beautiful state of West Bengal attracts a significant number of tourists every year as the state is jewelled with mesmerising landscapes, snow-clad mountains, gushing sea, blossoming tea gardens, enormous deltas, lush green forests, plentiful wildlife, ancient temples and magnificent British monuments. The Tiger Hill, the Howrah Bridge, the Tea Gardens are some of the famous tourist spots which offer an insight into the vast culture and history of the West Bengal. The culture of the state is adorned by colourful fairs and festivals every month.</p>
                                            <hr> 
                                            <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=1Sl6Sm-xgCTmd06X9z6AKSBocpC8&hl=en_US&ll=24.64497667232654%2C88.38314400000004&z=7"><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i></a></p>
                                            <p> Peak Season : October to March</p>
                                            <p> Average cost : ₹11,700 4/N (per person) </p>
                                            <p> Average days required: 4 to 12 days</p>
                                            <i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i><i class="fa-solid fa-heart" style="color: #ff2600;"></i>
                                             <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <br><br>
                <div style="background-color:rgb(139, 188, 205)">
                    <center>
                        <h3>ATTRACTIONS<h3>
                        <br>
                    </center>
                    <div class="io">
                        <div class="card-body">
                            <div class="box">
                                <div class="container">
                                    <hr>
                                    <div class="image">
                                        <img src="https://cdn.britannica.com/91/110191-050-7BCFD56B/Victoria-Memorial-Hall-Kolkata-India.jpg" height=300px width=500px  >
                                    </div>
                                    <div class="text">
                                        <h3>Kolkata<h3>
                                        <p>Kolkata, India's second biggest city, is a perpetually ongoing festival of human existence, concurrently luxurious and squalid, refined and frantic, pointedly futuristic, while beautifully in decay. A vibrant 350-year-old metropolis located on India's Eastern Coast, the capital of West Bengal thrives on contradictions and imposing spectacles; nothing is commonplace in this city. Famously known as the City of Joy, Kolkata is, in every sense, the artistic, cultural and intellectual capital of the country. Kolkata's streets are vivid, hectic, chaotic, and yet, brimming with life and creativity.</p>
                                        <p>Must Visit: Victoria Memorial, Fort William Kolkata, Belur Math, Howrah Bridge</p>
                                        <p>Ideal duration: 2-4 days</p>
                                        <p>Best Time: Oct-Mar</p>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="box">
                                        <div class="container">
                                            <hr>
                                            <div class="image">
                                                <img src="https://images.thrillophilia.com/image/upload/s--zbOrlrg0--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/091/105/original/1466595034_Darjeeling3.jpg.jpg?1466595034" height=300px width=500px  >
                                            </div>
                                            <div class="text">
                                                <h3>Siliguri<h3>
                                                <p> Situated in the Jalpaiguri and Siliguri districts of West Bengal, Siliguri is a city known as the Gateway to North-East India. Located 560 kms from Kolkata to the north, Siliguri is the twin city of Jalpaiguri and the third largest in West Bengal. Siliguri has its own international airport which serves mainly as a base for tourists to camp in before moving out to explore nearby tourist attractions such as Kalimpong, Darjeeling, Gangtok and Bhutan.</p>
                                                <p>Must Visit: Salugara Monastery, The Science City, Dudhia, Mahananda Weir Wildlife Sanctuary</p>
                                                <p>Time Required : 1 day</p>
                                                <p>Best Time:Throughout the year</p>
                                                
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body">
                                            <div class="box">
                                                <div class="container">
                                                    <hr>
                                                    <div class="image">
                                                        <img src="https://www.holidify.com/images/cmsuploads/compressed/Beauty_of_sundarban_04_20220509173753.jpg" height=300px width=500px  >
                                                    </div>
                                                    <div class="text">
                                                        <h3>Sundarbans<h3>
                                                        <p>Known for hosting the biggest mangrove forests in the world, Sundarbans National Park is located around 110 Km south of Kolkata in West Bengal, India. It is also a Tiger Reserve and a Biosphere Reserve famous for being the home of the Royal Bengal tigers, among others, including roaring rivers and beautiful estuaries. Sundarbans National Park is a part of the Sundarban delta, which extends into Bangladesh.</p>
                                                        <p>Must Visit: Boat Tour of the Mangrove Forest, Sajnekhali Bird Sanctuary, River Boat Cruise, Marichjhanpi</p>
                                                        <p>Ideal duration: 1-2 days</p>
                                                        <p>Best Time: Sep-Mar</p>
                                                        
                                                        <br>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <div class="box">
                                                        <div class="container">
                                                            <hr>
                                                            <div class="image">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Sunrise_%40_Digha.jpg/1200px-Sunrise_%40_Digha.jpg" height=300px width=500px margin-top=20px  >
                                                            </div>
                                                            <div class="text">
                                                                <h3>Digha<h3>
                                                                <p>Beach town situated on the shores of Bay of Bengal, Digha is a popular tourist destination known for its untouched beaches and scenic views, especially among people in West Bengal.</p>
                                                                <p> Must Visit: New Digha Beach, Udaipur Beach, Shankarpur Beach, Talsari Beach</p>
                                                                <p> Time Required : 1-2 days</p>
                                                                <P> Best Time: Jul-Mar </P>
                                                               
                                                                <br>                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
        </body>
    </head>
</html>